.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.search-container {
    position: relative;
    margin-bottom: 20px;
}

.search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 800px;
    overflow: hidden;
    align-items: center;
    margin: 2rem auto;
    width: 340px;
    overflow-y: auto;
}

    .search-results::-webkit-scrollbar {
        width: 12px;
    }

    .search-results::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

    .search-results::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgb(0, 89, 134,.5);
    }

.search-container input {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    outline: none;
}

.search-container .employee-item {
    width: 300px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    background-color: rgb(0, 89, 134,.5);
    cursor: pointer;
    margin-bottom: 1rem;
}

    .search-container .employee-item:hover {
        transition: border-color 0.3s ease;
        background-color: rgba(233, 236, 238, 0.5);
        color: rgb(0, 89, 134)
    }

    .search-container .employee-item p {
        margin: 0;
        padding: 5px;
    }

    .search-container .employee-item.show {
        opacity: 1;
    }

.search-container .item.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .search-container .item.error.show {
        opacity: 1;
    }

.modal-overlay {
    z-index: 999;
    width: 100vw;
    min-height: 1400px;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    height: 85%;
    padding: 0.5rem;
    border-radius: 10px;
}

.modal-close {
    margin-left: auto;
}

/*.general-employee-details-container h2 {
    margin-top: 0;
}

.employee-details-top{
    display:flex;    
}

.employee-details-top-left {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.employee-details-bottom-right{
    border-top:1px solid rgba(233, 236, 238, 0.5);
}*/

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Employee Card styles */
.general-employee-details-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-card-name {
    font-size:32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.employee-details-top {
    display: flex;
    align-items: center;
}

.employee-details-top-left {
    width: 200px;
}

    .employee-details-top-left img {
        max-width: 100%;
        border-radius: 50%;
    }

.employee-details-top-right,
.employee-details-bottom-right {
    margin-left: 20px;    
}

    .employee-details-top-right {

        display: flex;
        flex-direction: column;
        align-items: start;
        gap:2rem;
        justify-content:center;
    }

    .employee-details-bottom-right label {
        font-weight: bold;
    }

    .employee-details-bottom-right span {
        margin-right: 10px;
    }

    .employee-details-bottom-right button {
        margin-top: 10px;
    }
    .margin-left {
        margin-left:1rem;
    }
.employee-details-bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

    .employee-details-bottom > .employee-section-container {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: start;
        width: 80%;
    }

.assigned-tasks-item {
    display:flex;
}
.taskName {
    margin-right: 50%
}

.employee-details-bottom label {
    font-weight: bold;
}

.employee-details-bottom span {
    margin-right: 10px;
}

.section-headers {
    display: flex;
    margin-bottom: 0;
    border: 0;
    padding: 10px;
    text-align:start;
    width:80%;
}
.section-headers > div {
    margin-right:7rem;
}
.section-item {
    margin-bottom: 1rem;
}
.section-item > span {
    margin-right:4rem;    
}

.report-form-body, .assign-task-form-body {
    margin-bottom: 1rem;
}
    .report-form-body input,
    .assign-task-form-body input {
        width: 300px;
        height: 20px;
        margin-right: 2rem;
    }
.report-form-body select {
    width: 100px;
    border-width: 2px;
    padding:2px 1px;
}
.assign-task-form-container {
    text-align:center;
}


/* Responsive styles */
@media (max-width: 768px) {
    .employee-details-top {
        flex-direction: column;
    }

    .employee-details-top-left,
    .employee-details-top-right,
    .employee-details-bottom-right {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .employee-details-top-left {
        width: 150px;
    }

    .employee-details-top-right,
    .employee-details-bottom-right {
        margin-top: 0;
    }
}
